@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));


body {
    @apply bg-[#EEEEEE] text-[#1D1616] dark:bg-[#121212] dark:text-[#f1f1f1]
}

@layer base {

    input,
    textarea {
        @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5
    }

    button {
        @apply w-full border-[#D84040] hover:bg-[#D84040] text-[#D84040] dark:hover:bg-[#e58206] border dark:text-[#e58206] dark:border-[#e58206] hover:text-white cursor-pointer disabled:opacity-55 dark:hover:text-white px-3 py-2 rounded-md ease-in duration-200
    }

    h3, strong {
        @apply dark:text-[#e58206] text-[#D84040]
    }

    h3 {
        @apply lg:text-2xl text-lg
    }

}


@layer utilities {

    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }
}